/* Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Mukta', sans-serif;
}

html {
    font-size: 62.5%;
}
/* End of Default Styles */


/* Container */
/* Navbar */
.navbar {
    width: 100%;
    height: 19rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, .1);
}

.navbar-top {
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.navbar-top div {
    margin: 0 4rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    font-size: 6rem;
    color: #5C4742;
    margin-right: 2rem;
}

.logo span {
    font-family: 'Kenia', cursive;
    font-size: 4rem;
    letter-spacing: .3rem;
    color: #5C4742;
}

.nav-list {
    display: flex;
    height: 8.5rem;
    padding-top: 2rem;
}

.nav-list div {
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: .1rem solid #e9edf1;
    cursor: pointer;
    
}

.nav-list div:nth-child(1) {
    border: none;
}

.nav-list i {
    font-size: 2.3rem;
    color: #5C4742;
    margin-bottom: 1rem;
}

.nav-list span {
    font-size: 2rem;
    color: #5C4742;
    letter-spacing: .1rem;
}
/* End of Navbar */

/* Landing */
.landing {
    width: 100%;
    height: 80vh;
    position: relative;
}

.landing-bg {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 65rem;
    background-color: #C4BBAF;
    border-radius: 3rem;
}

.banner {
    width: 60%;
    height: 65rem;
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    border-radius: 3rem;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3rem;
    opacity: .6;

}

.banner-heading  {
    position: absolute;
    top: 12rem;
    right: 5rem;
    width: 40%;
    font-size: 7rem;
    line-height: 1.4;
    color: #fff;
    text-align: right;
    text-shadow: 0 3rem 3rem rgba(0, 0, 0, .8);
}

.banner-btn {
    position: absolute;
    top: 48rem;
    width: 18rem;
    height: 4rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all .3s;
}

.banner-btn-1 {
    right: 25rem;
    background-color: #5C4742;
    color: #fff;
}

.banner-btn-2 {
    right: 5rem;
    background-color: #fff;
    color: #5C4742;
}

.banner-btn-1:hover {
    background-color: #fff;
    color: #5C4742;
}

.banner-btn-2:hover {
    background-color: #5C4742;
    color: #fff;
}
/* End of Landing */


/* Products */
.products {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.products-top {
    margin-bottom: 8rem;
    width: 60%;
}

.products-top h3 {
    font-size: 2rem;
    color: #5C4742;;
}

.products-top h2 {
    font-size: 7rem;
    color: #A5978B;
}

.products-top h1 {
    font-size: 9rem;
    color: #5C4742;
    margin-top: -5rem;
}

.products-icons {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.products-icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    height: 20rem;
    margin-right: 2rem;
    background-color: #f7f7f7;
    padding: 3rem 0;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .4s;
}

.products-icons div:hover {
    background-color: #C4BBAF;
    box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.products-icons div:last-child {
    margin-right: 0;
}

.products-icons div i {
    margin-bottom: 3rem;
    font-size: 6rem;
    color:#5C4742 ;
 
}

.products-icons div span {
    font-size: 2rem;
    color: #5C4742 ;
}
/* End of Products */


/* Pricing */
 h3{
    font-size: 2rem;
    color: #5C4742;
}
.pricing {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-top {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10rem;
}
.pricing-bottom {
    width: 60%;
    display: flex;
    justify-content:center;
    align-items:flex-start ;
    margin-bottom: 10rem;
}

.pricing-bottom-content {
    font-size: 2rem;
    margin-right: 6rem;
    color:#A5978B;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.pricing-bottom-content h1{
    color: #5C4742;
    font-size: 2.6rem;
}
.pricing-bottom-content h2{
    color: #5C4742;
    font-size: 2rem;
}

.pricing-top img {
    margin-right: 6rem;
    border-radius: 3rem;
}

.pricing-top-content {
    font-size: 2rem;
    margin-right: 12rem;
    color:#A5978B;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.pricing-top-content h1{
    color: #5C4742;
    font-size: 2.6rem;
}

.pricing-top-content h2 {
    font-size: 2rem;
    color: #5C4742;
}
/* About UPC */
.about-upc{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}
.about-upc h3 {
    font-size: 2rem;
    color: #5C4742;
    margin-bottom: 4rem;
}

/* Blog */
.blog {
    width: 100%;
    height: 60vh;
    background-color: #5C4742;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-content {
    width: 60%;
    height: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
    background-color: #A5978B;
    border-radius: 3rem;
}
.blog_box{
    margin-left: 24px;
}

.blog_box label {
    font-size: 2.5rem;
    color:white;
    margin-bottom: 8px;
}


/* End of Blog */

/* Contact */
.contact {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content {
    width: 100%;
    height: 2rem;
    display: flex;
}

.content-left {
    width: 20%;
    height: 100%;
    background-color: #A5978B;
    border-radius: 2rem 0 0 2rem;
    display: flex;
    align-items: center;
    padding-left: 4rem;
}
.content-right {
    width: 80%;
    height: 100%;
    background-color: #5C4742;
    border-radius: 0 2rem 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* End of Contact */
/* Open time */
.open-time{
    width: 60%;
    margin:0 auto;
    margin-bottom: 10%;

}
table {
    width: 100%;
    text-align:center;
}
table th{
    background-color:#5C4742;
    color:#ffffff;
    height:60px;
    font-size: 2rem;


  }
table tr td{
    border: 1px solid #A5978B;
    font-size: 3rem;
    vertical-align:middle;
}
/* Open time end */
/* Footer */
.footer {
    width: 100%;
    height: 4rem;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #C4BBAF;
}

.copyright {
    font-size: 2rem;
    color: white ;
}

.brand {
    display: flex;
    align-items: center;
}

.brand i {
    font-size: 2rem;
    color: #5C4742;
    margin-right: 1.5rem;
}

.brand h1 {
    font-family: 'Kenia', cursive;
    font-size: 2rem;
    letter-spacing: .3rem;
    color: #5C4742;
}
/* End of Footer */

/* End of Container */


/* Responsive */
@media (max-width: 1600px) {
    .banner {
        width: 70%;
    }

    .products {
        padding-top: 10rem;
        height: 100vh;
    }

    .products-top {
        width: 70%;
    }

    .products-icons {
        width: 70%;
    }

    .pricing-cards {
        width: 70%;
    }

    .blog-content {
        width: 70%;
    }

    .contact-content {
        width: 70%;
    }

    .footer {
        width: 70%;
    }
}

@media(max-width: 1400px) {
    html {
        font-size: 54%;
    }

    .pricing-top img {
        width: 60rem;
        margin-right: 10rem;
    }
}

@media(max-width: 1200px) {
    html {
        font-size: 51%;
    }

    .banner {
        width: 80%;
    }

    .products-top {
        width: 80%;
    }

    .products-icons {
        width: 80%;
    }

    .pricing-cards {
        width: 80%;
    }

    .blog-content {
        width: 80%;
    }

    .blog-top img {
        width: 40rem;
    }

    .blog-articles {
        margin-top:  0;
    }

    .contact-content {
        width: 80%;
    }

    .footer {
        width: 80%;
    }
}

@media(max-width: 1000px) {
    html {
        font-size: 46%;
    }

    .navbar-top div {
        margin: 0 2rem;
    }

    .search-bar input {
        width: 40rem;
    }

    .banner-heading {
        font-size: 6rem;
    }

    .products {
        padding-top: 5rem;
        height: 90vh;
    }

    .products-top h2 {
        font-size: 5rem;
    }
    
    .products-top h1 {
        font-size: 7rem;
    }

    .pricing-top img {
        width: 40rem;
    }

    .pricing-top h1 {
        font-size: 5rem;
    }

    .pricing-cards {
        width: 90%;
    }
}

@media(max-width: 800px) {
    html {
        font-size: 39%;
    }

    .logo i {
        font-size: 4rem;
    }

    .search-bar input {
        width: 30rem;
    }


    .products {
        height: 75vh;
        padding-top: 0;
    }

    .products-icons div {
        height: 18rem;
    }

    .products-icons div img {
        width: 5rem;
    }

    .products-icons div span {
        font-size: 1.8rem;
    }
    
    .pricing-top img {
        width: 30rem;
    }

    .pricing-top h1 {
        width: 35rem;
    }

    .pricing-card {
        width: 27rem;
    }

    .pricing-card img {
        width: 18rem;
    }

    .blog-content {
        width: 90%;
    }

    .blog-top img {
        width: 30rem;
    }

    .blog-articles {
        margin-top: 5rem;
    }

    .trends h1{
        font-size: 4rem;
        width: 30rem;
    }

    .contact-content {
        width: 90%;
    }

    .content-right input {
        width: 30rem;
    }

    .footer {
        width: 90%;
    }
}

@media(max-width: 600px) {
    html {
        font-size: 35%;
    }

    .logo span {
        font-size: 3rem;
    }

    .search-bar input {
        width: 26rem;
    }

    .nav-list div {
        width: 12rem;
    }

    .landing {
        height: 75vh;
    }

    .banner-heading {
        width: 30rem;
    }

    .banner-btn {
        width: 15rem;
    }

    .banner-btn-1 {
        right: 22rem;
    }

    .products {
        height: 90vh;
    }

    .products-top {
        text-align: center;
        margin-bottom: 3rem;
    }

    .products-icons {
        width: 70%;
        flex-wrap: wrap;
    }

    .products-icons div {
        width: 16rem;
        margin: 2rem;
    }

    .products-icons div:last-child {
        margin-right: 2rem;
    }

    .article span {
        font-size: 1.5rem;
    }
} 

@media(max-width: 450px) {
    html {
        font-size: 32%;
    }

    .logo span {
        display: none;
    }

    .products {
        height: 80vh;
    }

    .pricing-top img {
        width: 25rem;
    }

    .pricing-top h1 {
        font-size: 3.5rem;
        width: 25rem;
    }

    .content-left h2  {
        font-size: 1.8rem;
    }

    .content-left span {
        font-size: 2rem;
    }

    .content-right input {
        width: 25rem;
    }
}
/* End of Responsive */
